# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.o
*.a
*.dylib
.idea
*.iml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
.vscode/
.env
.DS_Store
